<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDjpSZ5Jn8HZI8oes_3JeVDpZnO-7mqbio</string>
	<key>GCM_SENDER_ID</key>
	<string>471142694252</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.task.myapp</string>
	<key>PROJECT_ID</key>
	<string>task-app-414e3</string>
	<key>STORAGE_BUCKET</key>
	<string>task-app-414e3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:471142694252:ios:7b38ca737b2e6c34ad8749</string>
</dict>
</plist>